<div id ='main'>
  <p id="notice"><%= notice %></p>

  <h1>掲示板</h1>

  <table>
    <thead>
      <tr>
        <th>スレッド</th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do|topic| %>
      <tr>
        <td><%= link_to topic.title, board_path(topic) %></td>
        <td><%= link_to '編集', edit_board_path(topic) %></td>
        <td><%= link_to '削除', board_path(topic), method: :delete, data: {confirm: "OK?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '新規スレッド作成', new_board_path %>
</div>