<p id="notice"><%= notice %></p>

<h2>
  投稿:<%= @post.text %>
</h2>

<table>
  <tbody>
  <% @comments.each_with_index do |comment , idx| %>
    <tr>
      <td>＞<%= idx + 1 %>.</td>
      <td><%= comment.text %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<h3>コメント投稿</h3>
<%= form_for @newcomment, :url => post_comments_path(@post.id) do |f| %>
  <p><%= f.text_area :text %></p>
  <%= f.hidden_field :post_id %>
  <%= f.submit %>
<% end %>

<p>
  <%= link_to '元のスレッドへ戻る' , board_path(@post.topic_id) %>
</p>
<p>
  <%= link_to 'スレッド一覧へ戻る' , boards_path %>
</p>